bottom
Code/*
Code/User/History
Code/User/globalStorage
Code/User/workspaceStorage
!Code/User/
cache
dconf
obsidian
protonvpn
github-copilot
Signal Beta
shuttle
weechat
mimeapps.list
nnn
nvim
pavucontrol.ini
pulse
systemd
zsh/.z
zsh/.zhistory
zsh/.zsh_history
zsh/.zcompdump
zsh/history
