assets
bottom
Code/*
Code/User/History
Code/User/snippets
Code/User/sync
Code/User/globalStorage
Code/User/workspaceStorage
!Code/User/
Cursor/*
Cursor/User/History
Cursor/User/snippets
Cursor/User/sync
Cursor/User/globalStorage
Cursor/User/workspaceStorage
!Cursor/User/
cache
dconf
Signal Beta
weechat/*
!weechat/weechat.conf
mimeapps.list
nnn
pavucontrol.ini
pulse
systemd
vivaldi
zsh/.z
zsh/.zhistory
zsh/.zsh_history
zsh/.zcompdump
zsh/history
bookmarks
settings.ini