assets
bottom
Code/*
Code/User/History
Code/User/snippets
Code/User/sync
Code/User/globalStorage
Code/User/workspaceStorage
!Code/User/
Cursor
cache
vcache
dconf
obsidian
go
protonvpn
github-copilot
Signal Beta
shuttle
weechat/*
!weechat/irc.conf
mimeapps.list
nnn
nvim
pavucontrol.ini
pulse
systemd
zsh/.z
zsh/.zhistory
zsh/.zsh_history
zsh/.zcompdump
zsh/history
v-analyzer
bookmarks
settings.ini